<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.www.android_club">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".Login.RegisterActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".myPage.myPage_x">

        </activity>
       <!-- <activity android:name=".clubInfo.clubInfo">

        </activity>-->
        <activity android:name=".signUp.SignUpActivity">

        </activity>

        <activity android:name=".myPage.myPage_o">

        </activity>
        <activity android:name=".memberList.memberListActivity">

        </activity>

        <activity android:name=".MainActivity">

        </activity>

        <activity android:name=".Scheduling.ClubSchedulingActivity">

        </activity>

    </application>

    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
